

.horizontal-disk {

    /*width: 250px;*/
    /*height: 10px;*/
    /*line-height: 10px;*/
    /*vertical-align: middle;*/
    /*text-align: center;*/
}

.stack {
    display: grid;
}
.stack > * {
    grid-row: 1;
    grid-column: 1;
}
